<!DOCTYPE html>
<html>
    <head>
        <title>Simple chat</title>

        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>

        <div id="chatframe">

            <span id="username">{{ username }}</span>

            <ul id="messages" ref="messageDisplay"></ul>

            <form method="POST" action="/message/" @submit.prevent="sendMessage">
                <input v-model="message" autocomplete="off" :placeholder="'Press [Enter ↵] to send message as ' + username" />
            </form>

        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.min.js"></script>
        <script src="/js/chat.vue.js"></script>
    </body>
</html>