<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <title>Simple chat</title>

        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>

        <div id="chatframe">

            <span id="username">{{ username }}</span>

            <ul id="messages" ref="messageDisplay"></ul>

            <form method="POST" action="/message/" @submit.prevent="sendMessage">
                <input v-model="message" autocomplete="off" :placeholder="placeholder" />
            </form>

        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.4/vue.min.js"></script>
        <script src="/js/chat.vue.js"></script>
    </body>
</html>